{
  "openapi": "3.0.3",
  "info": {
    "title": "Shyft V1",
    "description": "This API collection will enable you to speed up your web3 development on Solana.",
    "version": "1.0.0",
    "contact": {}
  },
  "servers": [
    {
      "url": "https://api.shyft.to/sol/v1"
    }
  ],
  "paths": {
    "/wallet/balance": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get Balance",
        "description": "lets you check the balance in your solana wallet",
        "operationId": "getBalance",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "mainnet-beta"
            },
            "description": "Solana blockchain environment (testnet/devnet/mainnet-beta)"
          },
          {
            "name": "wallet",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "9pg3RVmbsz7U1DnVCHPGZeAPSnQwTCPX5iNn257D2qzK"
            },
            "description": "Wallet address"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Check Balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Balance fetched successfully"
                    },
                    "result": {
                      "type": "number",
                      "example": 0.33619124
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Check Balance": {
                    "value": {
                      "message": "Balance fetched successfully",
                      "result": 0.33619124,
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/send_sol": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Send Sol",
        "description": "allows you to transfer SOL from your account to another.",
        "operationId": "sendSol",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "example": 0.022
                  },
                  "from_private_key": {
                    "type": "string",
                    "example": "5saw7yPUSpP6UmDZpNUx77xffKEkJdcoaKEqhDcfZ4tefkjoHHRCT6W1dTd4f8T6KWyfjCbfYsD9Lhb6Styxgbkj"
                  },
                  "network": {
                    "type": "string",
                    "example": "devnet"
                  },
                  "to_address": {
                    "type": "string",
                    "example": "AaYFExyZuMHbJHzjimKyQBAH1yfA9sKTxSzBc6Nr5X4s"
                  }
                }
              },
              "examples": {
                "Send Sol": {
                  "value": {
                    "amount": 0.022,
                    "from_private_key": "5saw7yPUSpP6UmDZpNUx77xffKEkJdcoaKEqhDcfZ4tefkjoHHRCT6W1dTd4f8T6KWyfjCbfYsD9Lhb6Styxgbkj",
                    "network": "devnet",
                    "to_address": "AaYFExyZuMHbJHzjimKyQBAH1yfA9sKTxSzBc6Nr5X4s"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Send Sol",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "0.022 SOL transferred successfully"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "amount": {
                          "type": "number",
                          "example": 0.022
                        },
                        "transactionHash": {
                          "type": "string",
                          "example": "2hSAU7uW851GmoZvkRyvRT6C66XimQy8H1yEz5iW2qKp5tAzLuaDrpHjoj3LkFtTpazgzQUKrRPm2gaLe3E6QjA9"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Send Sol": {
                    "value": {
                      "message": "0.022 SOL transferred successfully",
                      "result": {
                        "amount": 0.022,
                        "transactionHash": "2hSAU7uW851GmoZvkRyvRT6C66XimQy8H1yEz5iW2qKp5tAzLuaDrpHjoj3LkFtTpazgzQUKrRPm2gaLe3E6QjA9"
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/token_balance": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get Token Balance",
        "description": "Get Token Balance",
        "operationId": "getTokenBalance",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "mainnet-beta"
            }
          },
          {
            "name": "wallet",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "9pg3RVmbsz7U1DnVCHPGZeAPSnQwTCPX5iNn257D2qzK"
            },
            "description": "Wallet address"
          },
          {
            "name": "token",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "EPjFWdd5AufqSSqeM2qN1xzybapC8G4wEGGkZwyTDt1v"
            },
            "description": "Token address whose balance you want to fetch"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Token Balance",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "91"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 20 Jul 2022 09:52:55 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"5b-kwMig+GJpI7f9lQuBWEoGv9aYDY\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Token balance fetched successfully"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "balance": {
                          "type": "number",
                          "example": 500000
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Get Token Balance": {
                    "value": {
                      "message": "Token balance fetched successfully",
                      "result": {
                        "balance": 500000
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/all_tokens": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get All Tokens Balance",
        "description": "Get All Tokens Balance",
        "operationId": "getAllTokensBalance",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "mainnet-beta"
            }
          },
          {
            "name": "wallet",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "wu9w9RWz3JpKEArHSqLwkY7zwNqceeHuMtYEnXYHwQK"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get All Tokens Balance",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "364"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 20 Jul 2022 09:53:47 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"16c-PQD2c7YzYvELVqyJ2spR/EdY/UE\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "4 tokens fetched successfully"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "example": "7yPeRofJpfPkjLJ8CLB7czuk4sKG9toXWVq8CcHr4DcU"
                          },
                          "balance": {
                            "type": "number",
                            "example": 100
                          }
                        }
                      },
                      "example": [
                        {
                          "address": "7yPeRofJpfPkjLJ8CLB7czuk4sKG9toXWVq8CcHr4DcU",
                          "balance": 100
                        },
                        {
                          "address": "4TLk2jocJuEysZubcMFCqsEFFu5jVGzTp14kAANDaEFv",
                          "balance": 500000
                        },
                        {
                          "address": "FK84vq6aVT2KFrKWz4m7oTufhDZdAt6qpMEBT4dziBEk",
                          "balance": 100
                        },
                        {
                          "address": "3dbNYdGJ2bWXtLhMcXW6szxmKPQSAjFuxXxU3PVAwaMA",
                          "balance": 100
                        }
                      ]
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Get All Tokens Balance": {
                    "value": {
                      "message": "4 tokens fetched successfully",
                      "result": [
                        {
                          "address": "7yPeRofJpfPkjLJ8CLB7czuk4sKG9toXWVq8CcHr4DcU",
                          "balance": 100
                        },
                        {
                          "address": "4TLk2jocJuEysZubcMFCqsEFFu5jVGzTp14kAANDaEFv",
                          "balance": 500000
                        },
                        {
                          "address": "FK84vq6aVT2KFrKWz4m7oTufhDZdAt6qpMEBT4dziBEk",
                          "balance": 100
                        },
                        {
                          "address": "3dbNYdGJ2bWXtLhMcXW6szxmKPQSAjFuxXxU3PVAwaMA",
                          "balance": 100
                        }
                      ],
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/get_portfolio": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get Portfolio",
        "description": "Get Portfolio",
        "operationId": "getPortfolio",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "mainnet-beta"
            }
          },
          {
            "name": "wallet",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "9pg3RVmbsz7U1DnVCHPGZeAPSnQwTCPX5iNn257D2qzK"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get Portfolio",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "4186"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 21 Jul 2022 16:15:43 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"105a-+LJ3gpfccmMUFDVm67d1+kI1ShU\""
                }
              },
              "Server": {
                "schema": {
                  "type": "string",
                  "example": "nginx/1.18.0 (Ubuntu)"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Portfolio fetched successfully"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "nfts": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "data": {
                                "type": "object",
                                "properties": {
                                  "creators": {
                                    "type": "array",
                                    "items": {
                                      "type": "object",
                                      "properties": {
                                        "address": {
                                          "type": "string",
                                          "example": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                                        },
                                        "share": {
                                          "type": "number",
                                          "example": 100
                                        },
                                        "verified": {
                                          "type": "number",
                                          "example": 1
                                        }
                                      }
                                    },
                                    "example": [
                                      {
                                        "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                        "share": 100,
                                        "verified": 1
                                      }
                                    ]
                                  },
                                  "name": {
                                    "type": "string",
                                    "example": "Nightweaver"
                                  },
                                  "sellerFeeBasisPoints": {
                                    "type": "number",
                                    "example": 0
                                  },
                                  "symbol": {
                                    "type": "string",
                                    "example": "NW"
                                  },
                                  "uri": {
                                    "type": "string",
                                    "example": "https://nftstorage.link/ipfs/' + 'bafkreidwzqo2fjyas32s2bhsvjo7fyi42yidtg5hpzetlsrij66eq3xblm"
                                  }
                                }
                              },
                              "isMutable": {
                                "type": "number",
                                "example": 1
                              },
                              "key": {
                                "type": "number",
                                "example": 4
                              },
                              "mint": {
                                "type": "string",
                                "example": "ApJPjFr585xKSMk7EtAKU4UrcpyEgdN7X8trvd3gChYk"
                              },
                              "primarySaleHappened": {
                                "type": "number",
                                "example": 0
                              },
                              "updateAuthority": {
                                "type": "string",
                                "example": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                              }
                            }
                          },
                          "example": [
                            {
                              "data": {
                                "creators": [
                                  {
                                    "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                    "share": 100,
                                    "verified": 1
                                  }
                                ],
                                "name": "Nightweaver",
                                "sellerFeeBasisPoints": 0,
                                "symbol": "NW",
                                "uri": "https://nftstorage.link/ipfs/' + 'bafkreidwzqo2fjyas32s2bhsvjo7fyi42yidtg5hpzetlsrij66eq3xblm"
                              },
                              "isMutable": 1,
                              "key": 4,
                              "mint": "ApJPjFr585xKSMk7EtAKU4UrcpyEgdN7X8trvd3gChYk",
                              "primarySaleHappened": 0,
                              "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                            },
                            {
                              "data": {
                                "creators": [
                                  {
                                    "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                    "share": 100,
                                    "verified": 1
                                  }
                                ],
                                "name": "SHYFT",
                                "sellerFeeBasisPoints": 5,
                                "symbol": "SHF",
                                "uri": "https://nftstorage.link/ipfs/ + bafkreid4ugb2wgbl2qkpfzd6bn34zkzjswfeo3esichllkn2m7fpffs4hy"
                              },
                              "isMutable": 1,
                              "key": 4,
                              "mint": "9XTGWZENKa18N1vgCQ3RjJWHG92Di2JKYi73jiC4hkEM",
                              "primarySaleHappened": 0,
                              "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                            },
                            {
                              "data": {
                                "creators": [
                                  {
                                    "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                    "share": 100,
                                    "verified": 1
                                  }
                                ],
                                "name": "Shyft",
                                "sellerFeeBasisPoints": 1000,
                                "symbol": "SH",
                                "uri": "https://nftstorage.link/ipfs/bafkreiewipf55m2tn5frny4alervvbqwdwdqmiaqzuri7ing2outmrxmke"
                              },
                              "isMutable": 1,
                              "key": 4,
                              "mint": "Cx3661bLrm7Q51yHnKSFhVr4YBLHBsvojj13nWBZkvQc",
                              "primarySaleHappened": 0,
                              "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                            },
                            {
                              "data": {
                                "creators": [
                                  {
                                    "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                    "share": 100,
                                    "verified": 1
                                  }
                                ],
                                "name": "some updated description",
                                "sellerFeeBasisPoints": 5000,
                                "symbol": "SH",
                                "uri": "https://nftstorage.link/ipfs/bafkreicb53w3npl4o6i7hhcbphxlf3qfiysjg2g33vay66wc5mg7gbzmk4"
                              },
                              "isMutable": 1,
                              "key": 4,
                              "mint": "3vv1QNVH5buEjxqYFZ6N5HPweW57T4kpP6VnrkHBtuT2",
                              "primarySaleHappened": 0,
                              "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                            },
                            {
                              "data": {
                                "creators": [
                                  {
                                    "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                    "share": 100,
                                    "verified": 1
                                  }
                                ],
                                "name": "MadBull",
                                "sellerFeeBasisPoints": 1000,
                                "symbol": "MB",
                                "uri": "https://nftstorage.link/ipfs/bafkreih5mkw2qmj5uc2dq7k6ifqtxiyw6vwp6rod2pajmej3vrvevblxre"
                              },
                              "isMutable": 1,
                              "key": 4,
                              "mint": "3UakQSxCAXQGSaeU41CtSvJD1J4rQShn4onKCEd9DKDs",
                              "primarySaleHappened": 0,
                              "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                            },
                            {
                              "data": {
                                "creators": [
                                  {
                                    "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                    "share": 100,
                                    "verified": 1
                                  }
                                ],
                                "name": "Shyft",
                                "sellerFeeBasisPoints": 0,
                                "symbol": "SH",
                                "uri": "https://nftstorage.link/ipfs/' + 'bafkreifpu66ojho2slqp5nbakmqa42ygaaqkf4repc3ioykgdqnxrohkba"
                              },
                              "isMutable": 1,
                              "key": 4,
                              "mint": "3PCt2frS9X5RwuH2KnebpUpHXcAqszvrWHnZg2m1wqDr",
                              "primarySaleHappened": 1,
                              "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                            },
                            {
                              "data": {
                                "creators": [
                                  {
                                    "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                    "share": 100,
                                    "verified": 1
                                  }
                                ],
                                "name": "Shyft",
                                "sellerFeeBasisPoints": 1000,
                                "symbol": "SH",
                                "uri": "https://nftstorage.link/ipfs/bafkreic74pvutsfh76oclnsgiz65zrfzptla44nb32pj54umz4nokj3uxa"
                              },
                              "isMutable": 1,
                              "key": 4,
                              "mint": "3E4arF7r89DbcLDg6AFuxcgLSsm4pHPQ12dKq9jBBNAQ",
                              "primarySaleHappened": 0,
                              "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                            },
                            {
                              "data": {
                                "creators": [
                                  {
                                    "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                    "share": 100,
                                    "verified": 1
                                  }
                                ],
                                "name": "MadBull",
                                "sellerFeeBasisPoints": 1000,
                                "symbol": "MB",
                                "uri": "https://nftstorage.link/ipfs/bafkreieoyd5jezffx5erzy7hqcewchlmnvipgjkcofpanktvpnukkhca6a"
                              },
                              "isMutable": 1,
                              "key": 4,
                              "mint": "4fN2a97sfVQaJWErLTjFu8GH63o8Xphv2DsdU5KSqHM3",
                              "primarySaleHappened": 0,
                              "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                            },
                            {
                              "data": {
                                "creators": [
                                  {
                                    "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                    "share": 100,
                                    "verified": 1
                                  }
                                ],
                                "name": "Mad Fucking Bug",
                                "sellerFeeBasisPoints": 1000,
                                "symbol": "MFB",
                                "uri": "https://nftstorage.link/ipfs/bafkreibdg2i2ycci5x2nj3seumhdhwt26k6ewezpv2ektbhgt2ir2l5loa"
                              },
                              "isMutable": 1,
                              "key": 4,
                              "mint": "b656nAT7qUKaQTC6m5to758ySR86eRbPcvN85RpmRHf",
                              "primarySaleHappened": 0,
                              "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                            }
                          ]
                        },
                        "num_nfts": {
                          "type": "number",
                          "example": 9
                        },
                        "num_tokens": {
                          "type": "number",
                          "example": 2
                        },
                        "sol_balance": {
                          "type": "number",
                          "example": 1.87873304
                        },
                        "tokens": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "address": {
                                "type": "string",
                                "example": "4TLk2jocJuEysZubcMFCqsEFFu5jVGzTp14kAANDaEFv"
                              },
                              "balance": {
                                "type": "number",
                                "example": 500000
                              }
                            }
                          },
                          "example": [
                            {
                              "address": "4TLk2jocJuEysZubcMFCqsEFFu5jVGzTp14kAANDaEFv",
                              "balance": 500000
                            },
                            {
                              "address": "7yPeRofJpfPkjLJ8CLB7czuk4sKG9toXWVq8CcHr4DcU",
                              "balance": 310.000001
                            }
                          ]
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Get Portfolio": {
                    "value": {
                      "message": "Portfolio fetched successfully",
                      "result": {
                        "nfts": [
                          {
                            "data": {
                              "creators": [
                                {
                                  "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                  "share": 100,
                                  "verified": 1
                                }
                              ],
                              "name": "Nightweaver",
                              "sellerFeeBasisPoints": 0,
                              "symbol": "NW",
                              "uri": "https://nftstorage.link/ipfs/' + 'bafkreidwzqo2fjyas32s2bhsvjo7fyi42yidtg5hpzetlsrij66eq3xblm"
                            },
                            "isMutable": 1,
                            "key": 4,
                            "mint": "ApJPjFr585xKSMk7EtAKU4UrcpyEgdN7X8trvd3gChYk",
                            "primarySaleHappened": 0,
                            "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                          },
                          {
                            "data": {
                              "creators": [
                                {
                                  "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                  "share": 100,
                                  "verified": 1
                                }
                              ],
                              "name": "SHYFT",
                              "sellerFeeBasisPoints": 5,
                              "symbol": "SHF",
                              "uri": "https://nftstorage.link/ipfs/ + bafkreid4ugb2wgbl2qkpfzd6bn34zkzjswfeo3esichllkn2m7fpffs4hy"
                            },
                            "isMutable": 1,
                            "key": 4,
                            "mint": "9XTGWZENKa18N1vgCQ3RjJWHG92Di2JKYi73jiC4hkEM",
                            "primarySaleHappened": 0,
                            "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                          },
                          {
                            "data": {
                              "creators": [
                                {
                                  "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                  "share": 100,
                                  "verified": 1
                                }
                              ],
                              "name": "Shyft",
                              "sellerFeeBasisPoints": 1000,
                              "symbol": "SH",
                              "uri": "https://nftstorage.link/ipfs/bafkreiewipf55m2tn5frny4alervvbqwdwdqmiaqzuri7ing2outmrxmke"
                            },
                            "isMutable": 1,
                            "key": 4,
                            "mint": "Cx3661bLrm7Q51yHnKSFhVr4YBLHBsvojj13nWBZkvQc",
                            "primarySaleHappened": 0,
                            "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                          },
                          {
                            "data": {
                              "creators": [
                                {
                                  "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                  "share": 100,
                                  "verified": 1
                                }
                              ],
                              "name": "some updated description",
                              "sellerFeeBasisPoints": 5000,
                              "symbol": "SH",
                              "uri": "https://nftstorage.link/ipfs/bafkreicb53w3npl4o6i7hhcbphxlf3qfiysjg2g33vay66wc5mg7gbzmk4"
                            },
                            "isMutable": 1,
                            "key": 4,
                            "mint": "3vv1QNVH5buEjxqYFZ6N5HPweW57T4kpP6VnrkHBtuT2",
                            "primarySaleHappened": 0,
                            "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                          },
                          {
                            "data": {
                              "creators": [
                                {
                                  "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                  "share": 100,
                                  "verified": 1
                                }
                              ],
                              "name": "MadBull",
                              "sellerFeeBasisPoints": 1000,
                              "symbol": "MB",
                              "uri": "https://nftstorage.link/ipfs/bafkreih5mkw2qmj5uc2dq7k6ifqtxiyw6vwp6rod2pajmej3vrvevblxre"
                            },
                            "isMutable": 1,
                            "key": 4,
                            "mint": "3UakQSxCAXQGSaeU41CtSvJD1J4rQShn4onKCEd9DKDs",
                            "primarySaleHappened": 0,
                            "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                          },
                          {
                            "data": {
                              "creators": [
                                {
                                  "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                  "share": 100,
                                  "verified": 1
                                }
                              ],
                              "name": "Shyft",
                              "sellerFeeBasisPoints": 0,
                              "symbol": "SH",
                              "uri": "https://nftstorage.link/ipfs/' + 'bafkreifpu66ojho2slqp5nbakmqa42ygaaqkf4repc3ioykgdqnxrohkba"
                            },
                            "isMutable": 1,
                            "key": 4,
                            "mint": "3PCt2frS9X5RwuH2KnebpUpHXcAqszvrWHnZg2m1wqDr",
                            "primarySaleHappened": 1,
                            "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                          },
                          {
                            "data": {
                              "creators": [
                                {
                                  "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                  "share": 100,
                                  "verified": 1
                                }
                              ],
                              "name": "Shyft",
                              "sellerFeeBasisPoints": 1000,
                              "symbol": "SH",
                              "uri": "https://nftstorage.link/ipfs/bafkreic74pvutsfh76oclnsgiz65zrfzptla44nb32pj54umz4nokj3uxa"
                            },
                            "isMutable": 1,
                            "key": 4,
                            "mint": "3E4arF7r89DbcLDg6AFuxcgLSsm4pHPQ12dKq9jBBNAQ",
                            "primarySaleHappened": 0,
                            "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                          },
                          {
                            "data": {
                              "creators": [
                                {
                                  "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                  "share": 100,
                                  "verified": 1
                                }
                              ],
                              "name": "MadBull",
                              "sellerFeeBasisPoints": 1000,
                              "symbol": "MB",
                              "uri": "https://nftstorage.link/ipfs/bafkreieoyd5jezffx5erzy7hqcewchlmnvipgjkcofpanktvpnukkhca6a"
                            },
                            "isMutable": 1,
                            "key": 4,
                            "mint": "4fN2a97sfVQaJWErLTjFu8GH63o8Xphv2DsdU5KSqHM3",
                            "primarySaleHappened": 0,
                            "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                          },
                          {
                            "data": {
                              "creators": [
                                {
                                  "address": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx",
                                  "share": 100,
                                  "verified": 1
                                }
                              ],
                              "name": "Mad Fucking Bug",
                              "sellerFeeBasisPoints": 1000,
                              "symbol": "MFB",
                              "uri": "https://nftstorage.link/ipfs/bafkreibdg2i2ycci5x2nj3seumhdhwt26k6ewezpv2ektbhgt2ir2l5loa"
                            },
                            "isMutable": 1,
                            "key": 4,
                            "mint": "b656nAT7qUKaQTC6m5to758ySR86eRbPcvN85RpmRHf",
                            "primarySaleHappened": 0,
                            "updateAuthority": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                          }
                        ],
                        "num_nfts": 9,
                        "num_tokens": 2,
                        "sol_balance": 1.87873304,
                        "tokens": [
                          {
                            "address": "4TLk2jocJuEysZubcMFCqsEFFu5jVGzTp14kAANDaEFv",
                            "balance": 500000
                          },
                          {
                            "address": "7yPeRofJpfPkjLJ8CLB7czuk4sKG9toXWVq8CcHr4DcU",
                            "balance": 310.000001
                          }
                        ]
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/get_domains": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Get All Domains",
        "description": "Get All Domains",
        "operationId": "getAllDomains",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "mainnet-beta"
            }
          },
          {
            "name": "wallet",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "9hqqMGMfG44L2R1a1osDgQRWKYt4YuegfUB6rUSaXrv8"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get All Domains",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "150"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 21 Jul 2022 12:42:18 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"96-WsCZtAYjEGOMloDicZNpjiJDXh0\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "1 domains fetched successfully"
                    },
                    "result": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "address": {
                            "type": "string",
                            "example": "CK9rDU7Bk9SV5SEmRUakMjN87fpqTTSWq2ieojTmXJoL"
                          },
                          "name": {
                            "type": "string",
                            "example": "anoushk.sol"
                          }
                        }
                      },
                      "example": [
                        {
                          "address": "CK9rDU7Bk9SV5SEmRUakMjN87fpqTTSWq2ieojTmXJoL",
                          "name": "anoushk.sol"
                        }
                      ]
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Get All Domains": {
                    "value": {
                      "message": "1 domains fetched successfully",
                      "result": [
                        {
                          "address": "CK9rDU7Bk9SV5SEmRUakMjN87fpqTTSWq2ieojTmXJoL",
                          "name": "anoushk.sol"
                        }
                      ],
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/resolve_address": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Resolve Address",
        "description": "Resolve Address",
        "operationId": "resolveAddress",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "mainnet-beta"
            },
            "description": "Solana blockchain environment (testnet/devnet/mainnet-beta)"
          },
          {
            "name": "address",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "CK9rDU7Bk9SV5SEmRUakMjN87fpqTTSWq2ieojTmXJoL"
            },
            "description": "Wallet address"
          },
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resolve Address",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "90"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Thu, 21 Jul 2022 12:42:21 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"5a-oZiyNN/WGwHNlbKLngoIqaJGfh4\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Address resolved successfully"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "name": {
                          "type": "string",
                          "example": "anoushk.sol"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Resolve Address": {
                    "value": {
                      "message": "Address resolved successfully",
                      "result": {
                        "name": "anoushk.sol"
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/sign_transaction": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Sign Transaction",
        "description": "Sign Transaction",
        "operationId": "signTransaction",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "encoded_transaction": {
                    "type": "string",
                    "example": "5eG1aSjNoPmScw84G1d7f9n2fgmWabtQEgRjTUXvpTrRH1qduEMwUvUFYiS8px22JNedkWFTUWj9PrRyq1MyessunKC8Mjyq3hH5WZkM15D3gsooH8hsFegyYRBmccLBTEnPph6fExEySkJwsfH6oGC62VmDDCpWyPHZLYv52e4qtUb1TBE6SgXE6FX3TFqrX5HApSkb9ZaCSz21FyyEbXtrmMxBQE1CR7BTyadWL1Vy9SLfo9tnsVpHHDHthFRr"
                  },
                  "network": {
                    "type": "string",
                    "example": "devnet"
                  },
                  "private_key": {
                    "type": "string",
                    "example": "5GGZQpoiDPRJLwMonq4ovBBKbxvNq76L3zgMXyiQ5grbPzgF3k35dkHuWwt3GmwVGZBXywXteJcJ53Emsda92D5v"
                  }
                }
              },
              "examples": {
                "Sign Transaction": {
                  "value": {
                    "encoded_transaction": "5eG1aSjNoPmScw84G1d7f9n2fgmWabtQEgRjTUXvpTrRH1qduEMwUvUFYiS8px22JNedkWFTUWj9PrRyq1MyessunKC8Mjyq3hH5WZkM15D3gsooH8hsFegyYRBmccLBTEnPph6fExEySkJwsfH6oGC62VmDDCpWyPHZLYv52e4qtUb1TBE6SgXE6FX3TFqrX5HApSkb9ZaCSz21FyyEbXtrmMxBQE1CR7BTyadWL1Vy9SLfo9tnsVpHHDHthFRr",
                    "network": "devnet",
                    "private_key": "5GGZQpoiDPRJLwMonq4ovBBKbxvNq76L3zgMXyiQ5grbPzgF3k35dkHuWwt3GmwVGZBXywXteJcJ53Emsda92D5v"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/wallet/transaction_history": {
      "get": {
        "tags": [
          "Wallet"
        ],
        "summary": "Transaction History",
        "description": "Transaction History",
        "operationId": "transactionHistory",
        "parameters": [
          {
            "name": "network",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "devnet"
            }
          },
          {
            "name": "wallet",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2fmz8SuNVyxEP6QwKQs6LNaT2ATszySPEJdhUDesxktc"
            }
          },
          {
            "name": "tx_num",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "2"
            }
          },
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/wallet/send_sol_detach": {
      "post": {
        "tags": [
          "Wallet"
        ],
        "summary": "Send SOL Detached",
        "description": "Send SOL Detached",
        "operationId": "sendSolDetached",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number",
                    "example": 1.2
                  },
                  "from_address": {
                    "type": "string",
                    "example": "BFefyp7jNF5Xq2A4JDLLFFGpxLq5oPEFKBAQ46KJHW2R"
                  },
                  "network": {
                    "type": "string",
                    "example": "devnet"
                  },
                  "to_address": {
                    "type": "string",
                    "example": "2fmz8SuNVyxEP6QwKQs6LNaT2ATszySPEJdhUDesxktc"
                  }
                }
              },
              "examples": {
                "Send SOL Detached": {
                  "value": {
                    "amount": 1.2,
                    "from_address": "BFefyp7jNF5Xq2A4JDLLFFGpxLq5oPEFKBAQ46KJHW2R",
                    "network": "devnet",
                    "to_address": "2fmz8SuNVyxEP6QwKQs6LNaT2ATszySPEJdhUDesxktc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/wallet/create_semi_wallet/": {
      "post": {
        "tags": [
          "Semi Custodial Wallet"
        ],
        "summary": "Create Semi Custodial Wallet",
        "description": "Create Semi Custodial Wallet",
        "operationId": "createSemiCustodialWallet",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "example": "shyt@1234*()"
                  }
                }
              },
              "examples": {
                "Create Semi Custodial Wallet": {
                  "value": {
                    "password": "shyt@1234*()"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create Semi Custodial Wallet",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "146"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 31 Aug 2022 08:18:33 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"92-ZPDdz6jO31Xaq5i5gfAKz5pmYsw\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Semi custodial wallet created successfully"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "wallet_address": {
                          "type": "string",
                          "example": "Eqiyw6f6f9n2MHEwz2Xk2BkczoufVuUfpg8zchTy7qxf"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Create Semi Custodial Wallet": {
                    "value": {
                      "message": "Semi custodial wallet created successfully",
                      "result": {
                        "wallet_address": "Eqiyw6f6f9n2MHEwz2Xk2BkczoufVuUfpg8zchTy7qxf"
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/get_keypair": {
      "get": {
        "tags": [
          "Semi Custodial Wallet"
        ],
        "summary": "Get Keypair",
        "description": "Get Keypair",
        "operationId": "getKeypair",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "20CcwuFeQOIcfuHx"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "example": "shyt@1234*()"
                  },
                  "wallet": {
                    "type": "string",
                    "example": "Eqiyw6f6f9n2MHEwz2Xk2BkczoufVuUfpg8zchTy7qxf"
                  }
                }
              },
              "examples": {
                "Get Keypair": {
                  "value": {
                    "password": "shyt@1234*()",
                    "wallet": "Eqiyw6f6f9n2MHEwz2Xk2BkczoufVuUfpg8zchTy7qxf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Get Keypair",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "217"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 31 Aug 2022 08:20:07 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"d9-CCTspUg0i2TSj9p4tdjdDD3kFsk\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Decryption Data"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "publicKey": {
                          "type": "string",
                          "example": "Eqiyw6f6f9n2MHEwz2Xk2BkczoufVuUfpg8zchTy7qxf"
                        },
                        "secretKey": {
                          "type": "string",
                          "example": "36x5aoumtgWXZ9bBM38Cih4UeuGqTkM2Q3gwRNiJFpYoYgp9uZym9swn93uQYRS6aRyKWKuqQMm8fpa4NMtvSutP"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Get Keypair": {
                    "value": {
                      "message": "Decryption Data",
                      "result": {
                        "publicKey": "Eqiyw6f6f9n2MHEwz2Xk2BkczoufVuUfpg8zchTy7qxf",
                        "secretKey": "36x5aoumtgWXZ9bBM38Cih4UeuGqTkM2Q3gwRNiJFpYoYgp9uZym9swn93uQYRS6aRyKWKuqQMm8fpa4NMtvSutP"
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/wallet/decrypt_semi_wallet": {
      "get": {
        "tags": [
          "Semi Custodial Wallet"
        ],
        "summary": "Decrypt Semi Custodial Wallet",
        "description": "Decrypt Semi Custodial Wallet",
        "operationId": "decryptSemiCustodialWallet",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "20CcwuFeQOIcfuHx"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "password": {
                    "type": "string",
                    "example": "shyt@1234*()"
                  },
                  "wallet": {
                    "type": "string",
                    "example": "Eqiyw6f6f9n2MHEwz2Xk2BkczoufVuUfpg8zchTy7qxf"
                  }
                }
              },
              "examples": {
                "Decrypt Semi Custodial Wallet": {
                  "value": {
                    "password": "shyt@1234*()",
                    "wallet": "Eqiyw6f6f9n2MHEwz2Xk2BkczoufVuUfpg8zchTy7qxf"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Decrypt Semi Custodial Wallet",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "389"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Wed, 31 Aug 2022 08:21:45 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"185-4u4P2Urw8b+6+ygwWrhzAMknTCw\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "Decryption Data"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "decryptionKey": {
                          "type": "string",
                          "example": "{\"salt\":\"VXEx1TAshyxx7PQmgcJnCY\",\"kdf\":\"pbkdf2\",\"digest\":\"sha256\",\"iterations\":100000,\"nonce\":\"7aDRwa35rYizZK6VL4qkiTvKgguxXNVta\"}"
                        },
                        "encryptedPrivateKey": {
                          "type": "string",
                          "example": "uRdy44KDYaztpXv4GvtHhHphwuTaEbgztM633s4JbSSvJ9KW597tfmyznrc8Qeq9NbTNC6JSRVkNzydHbLBaj5E1vAoRTMcpt9tjBmn8pnbK7GeyNTGube39fTRfM8U3kvTYvrhJjAJ6dG"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Decrypt Semi Custodial Wallet": {
                    "value": {
                      "message": "Decryption Data",
                      "result": {
                        "decryptionKey": "{\"salt\":\"VXEx1TAshyxx7PQmgcJnCY\",\"kdf\":\"pbkdf2\",\"digest\":\"sha256\",\"iterations\":100000,\"nonce\":\"7aDRwa35rYizZK6VL4qkiTvKgguxXNVta\"}",
                        "encryptedPrivateKey": "uRdy44KDYaztpXv4GvtHhHphwuTaEbgztM633s4JbSSvJ9KW597tfmyznrc8Qeq9NbTNC6JSRVkNzydHbLBaj5E1vAoRTMcpt9tjBmn8pnbK7GeyNTGube39fTRfM8U3kvTYvrhJjAJ6dG"
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/create": {
      "post": {
        "tags": [
          "NFTs",
          "Testing (Devnet/Testnet)"
        ],
        "summary": "Create NFT",
        "description": "Mints an NFT into a wallet corresponding to the private key on blockchain. Wallet's public address is set as the update authority.",
        "operationId": "createNft",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "attributes": {
                    "description": "attributes associated to this NFT",
                    "type": "string",
                    "example": "[{\"trait_type\": \"speed\", \"value\": 100},\n{\"trait_type\": \"aggression\", \"value\": \"crazy\"},\n{\"trait_type\": \"energy\", \"value\": \"very high\"}]"
                  },
                  "description": {
                    "description": "NFT description",
                    "type": "string",
                    "example": "hair on fire problem solving"
                  },
                  "external_url": {
                    "description": "any url to associate with the NFT",
                    "type": "string",
                    "example": "https://shyft.to/"
                  },
                  "file": {
                    "description": "Image/pdf/.doc or any file that you would want to turn into nft",
                    "type": "string",
                    "format": "binary"
                  },
                  "max_supply": {
                    "description": "Maximum number of clones/edition mints possible for this NFT",
                    "type": "string",
                    "example": "1"
                  },
                  "name": {
                    "description": "NFT name",
                    "type": "string",
                    "example": "MadBull"
                  },
                  "network": {
                    "description": "solana blockchain environment (testnet/devnet/mainnet-beta)",
                    "type": "string",
                    "example": "devnet"
                  },
                  "private_key": {
                    "description": "your wallet's private key",
                    "type": "string",
                    "example": "41zT4s2kNukmBNQWMFPSzo3VQbjhers5TP6tyvr3MjqvJAETMmQybZtRsRXPK1rdA1xBJruy4n58Zb1pNmoKy7y1"
                  },
                  "royalty": {
                    "description": "represents how much percentage of secondary sales does the original creator gets. Ranges from (0-100), 0 being original creator gets nothing and 100 being original creator gets entire amount from secondary sales",
                    "type": "string",
                    "example": "10"
                  },
                  "symbol": {
                    "description": "NFT symbol",
                    "type": "string",
                    "example": "MB"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Create NFT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "NFT created successfully"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "edition": {
                          "type": "string",
                          "example": "HcMZECPFWf9d2c29EfEdDFJpBjJJRVjNmD1PkKeVAfRn"
                        },
                        "metadata": {
                          "type": "string",
                          "example": "B8Ro5Nxn5ZteY7nXVKFGuHDqXKpKzxCFL5zPkNkwoRRB"
                        },
                        "mint": {
                          "type": "string",
                          "example": "42W21y86sURFNaWgwDuLTfMKay5LVRzFJrMe2J7xMYTx"
                        },
                        "txId": {
                          "type": "string",
                          "example": "9T1vwiGXQREk8DF9jorscGX6paWDTFPzuRL8JegtWtfGAJnbaRv3KTz3onrhbiuMwsm9WsyQN2GFbkyS5nYvyBE"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Create NFT": {
                    "value": {
                      "message": "NFT created successfully",
                      "result": {
                        "edition": "HcMZECPFWf9d2c29EfEdDFJpBjJJRVjNmD1PkKeVAfRn",
                        "metadata": "B8Ro5Nxn5ZteY7nXVKFGuHDqXKpKzxCFL5zPkNkwoRRB",
                        "mint": "42W21y86sURFNaWgwDuLTfMKay5LVRzFJrMe2J7xMYTx",
                        "txId": "9T1vwiGXQREk8DF9jorscGX6paWDTFPzuRL8JegtWtfGAJnbaRv3KTz3onrhbiuMwsm9WsyQN2GFbkyS5nYvyBE"
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/update": {
      "post": {
        "tags": [
          "NFTs",
          "Testing (Devnet/Testnet)"
        ],
        "summary": "Update NFT",
        "description": "updates the properties and data associated to the nft",
        "operationId": "updateNft",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "attributes": {
                    "description": "attributes associated to this NFT ",
                    "type": "string",
                    "example": "{\"health\" : 50}"
                  },
                  "description": {
                    "description": "NFT description",
                    "type": "string",
                    "example": "some description"
                  },
                  "external_url": {
                    "description": "any url to associate with the NFT",
                    "type": "string",
                    "example": "https://psychostore.in"
                  },
                  "file": {
                    "description": "digital file that nft represents (image/doc/video etc)",
                    "type": "string",
                    "format": "binary"
                  },
                  "name": {
                    "description": "NFT name",
                    "type": "string",
                    "example": "SHYFT"
                  },
                  "network": {
                    "description": "solana blockchain environment (testnet/devnet/mainnet-beta)",
                    "type": "string",
                    "example": "devnet"
                  },
                  "private_key": {
                    "description": "your wallet's private key",
                    "type": "string",
                    "example": "41zT4s2kNukmBNQWMFPSzo3VQbjhers5TP6tyvr3MjqvJAETMmQybZtRsRXPK1rdA1xBJruy4n58Zb1pNmoKy7y1"
                  },
                  "royalty": {
                    "description": "represents how much percentage of secondary sales does the original creator gets. Ranges from (0-100), 0 being original creator gets nothing and 100 being original creator gets entire amount from secondary sales",
                    "type": "string",
                    "example": "5"
                  },
                  "symbol": {
                    "description": "NFT symbol",
                    "type": "string",
                    "example": "SHF"
                  },
                  "token_address": {
                    "description": "address of the NFT to be updated",
                    "type": "string",
                    "example": "7a7KrDuQQHET6HxfKwmjGCkt43s7BZM46nDrJNtctWgh"
                  },
                  "update_authority": {
                    "description": "address of the update_authority of the NFT to be updated",
                    "type": "string",
                    "example": "BvzKvn6nUUAYtKu2pH3h5SbUkUNcRPQawg4bURBiojJx"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Update NFT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "NFT updated"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "txId": {
                          "type": "string",
                          "example": "2yLHYFCYJWqneQ8zqkgQs7qnzu6bbGjgcSPuGbUsXnwai21EpMi814vMXkAaUKyKKadbduoEe3a2HzNCLsESpKx8"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Update NFT": {
                    "value": {
                      "message": "NFT updated",
                      "result": {
                        "txId": "2yLHYFCYJWqneQ8zqkgQs7qnzu6bbGjgcSPuGbUsXnwai21EpMi814vMXkAaUKyKKadbduoEe3a2HzNCLsESpKx8"
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/burn": {
      "delete": {
        "tags": [
          "NFTs",
          "Testing (Devnet/Testnet)"
        ],
        "summary": "Burn NFT",
        "description": "Burn/Delete an on-chain nft.",
        "operationId": "burnNft",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "network": {
                    "type": "string",
                    "example": "devnet"
                  },
                  "private_key": {
                    "type": "string",
                    "example": "41zT4s2kNukmBNQWMFPSzo3VQbjhers5TP6tyvr3MjqvJAETMmQybZtRsRXPK1rdA1xBJruy4n58Zb1pNmoKy7y1"
                  },
                  "token_address": {
                    "type": "string",
                    "example": "7a7KrDuQQHET6HxfKwmjGCkt43s7BZM46nDrJNtctWgh"
                  }
                }
              },
              "examples": {
                "Burn NFT": {
                  "value": {
                    "network": "devnet",
                    "private_key": "41zT4s2kNukmBNQWMFPSzo3VQbjhers5TP6tyvr3MjqvJAETMmQybZtRsRXPK1rdA1xBJruy4n58Zb1pNmoKy7y1",
                    "token_address": "7a7KrDuQQHET6HxfKwmjGCkt43s7BZM46nDrJNtctWgh"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Burn NFT",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "NFT burned successfully"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "txId": {
                          "type": "string",
                          "example": "cjWb4KTFchNj9yXJoyR1rtWaMRMtkgkcoeuKARGBjBvK953UgvzPKwZNQVQ2srN7eVoqBcumWJZF4MkDKrnJNim"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Burn NFT": {
                    "value": {
                      "message": "NFT burned successfully",
                      "result": {
                        "txId": "cjWb4KTFchNj9yXJoyR1rtWaMRMtkgkcoeuKARGBjBvK953UgvzPKwZNQVQ2srN7eVoqBcumWJZF4MkDKrnJNim"
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/transfer": {
      "post": {
        "tags": [
          "NFTs",
          "Testing (Devnet/Testnet)"
        ],
        "summary": "Transfer NFT",
        "description": "Transfer NFT",
        "operationId": "transferNft",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from_address": {
                    "type": "string",
                    "example": "2CayyFUNQd57iTHXh67FfNsamwUz6vGgcX7wAA2f5wMf3M4DKUUkLGozhJr4uDzXbF6261WKAtVUaNL7QQVDFTzx"
                  },
                  "network": {
                    "type": "string",
                    "example": "devnet"
                  },
                  "to_address": {
                    "type": "string",
                    "example": "3E4arF7r89DbcLDg6AFuxcgLSsm4pHPQ12dKq9jBBNAQ"
                  },
                  "token_address": {
                    "type": "string",
                    "example": "b656nAT7qUKaQTC6m5to758ySR86eRbPcvN85RpmRHf"
                  },
                  "transfer_authority": {
                    "type": "boolean",
                    "example": true
                  }
                }
              },
              "examples": {
                "Transfer NFT": {
                  "value": {
                    "from_address": "2CayyFUNQd57iTHXh67FfNsamwUz6vGgcX7wAA2f5wMf3M4DKUUkLGozhJr4uDzXbF6261WKAtVUaNL7QQVDFTzx",
                    "network": "devnet",
                    "to_address": "3E4arF7r89DbcLDg6AFuxcgLSsm4pHPQ12dKq9jBBNAQ",
                    "token_address": "b656nAT7qUKaQTC6m5to758ySR86eRbPcvN85RpmRHf",
                    "transfer_authority": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transfer NFT",
            "headers": {
              "Access-Control-Allow-Origin": {
                "schema": {
                  "type": "string",
                  "example": "*"
                }
              },
              "Connection": {
                "schema": {
                  "type": "string",
                  "example": "keep-alive"
                }
              },
              "Content-Length": {
                "schema": {
                  "type": "string",
                  "example": "262"
                }
              },
              "Date": {
                "schema": {
                  "type": "string",
                  "example": "Tue, 02 Aug 2022 09:46:43 GMT"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string",
                  "example": "W/\"106-SC5F2fF7MdHZebgkzPRAehWpBO4\""
                }
              },
              "Keep-Alive": {
                "schema": {
                  "type": "string",
                  "example": "timeout=5"
                }
              },
              "X-Powered-By": {
                "schema": {
                  "type": "string",
                  "example": "Express"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "example": "NFT Transfer"
                    },
                    "result": {
                      "type": "object",
                      "properties": {
                        "transferTxId": {
                          "type": "string",
                          "example": "3kAqDDXFaoYpVp2GLGhghWpPnUcdsopaucKtGRhVPqSt5CsSx3BE8wMZGcMxBFeXz27DwXLJ8abG65FWmMt7eufS"
                        },
                        "updateTxId": {
                          "type": "string",
                          "example": "4vL7YaFYWLozctJ76WNoArr1gFtVfEGDS4DoAKv5AKFUToc67d5jn9G8NKf3XgxBACPWsXFbj9yRt3fVq1d92nGd"
                        }
                      }
                    },
                    "success": {
                      "type": "boolean",
                      "example": true
                    }
                  }
                },
                "examples": {
                  "Transfer NFT": {
                    "value": {
                      "message": "NFT Transfer",
                      "result": {
                        "transferTxId": "3kAqDDXFaoYpVp2GLGhghWpPnUcdsopaucKtGRhVPqSt5CsSx3BE8wMZGcMxBFeXz27DwXLJ8abG65FWmMt7eufS",
                        "updateTxId": "4vL7YaFYWLozctJ76WNoArr1gFtVfEGDS4DoAKv5AKFUToc67d5jn9G8NKf3XgxBACPWsXFbj9yRt3fVq1d92nGd"
                      },
                      "success": true
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/nft/mint": {
      "post": {
        "tags": [
          "NFTs",
          "Testing (Devnet/Testnet)"
        ],
        "summary": "Mint NFT",
        "description": "Mint NFT",
        "operationId": "mintNft",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "mint_address": {
                    "type": "string",
                    "example": "37CGrKHKhCj42xSMeJ5HH2TfidjPWHVR994L8msVRzoC"
                  },
                  "mint_authority": {
                    "type": "string",
                    "example": "BFefyp7jNF5Xq2A4JDLLFFGpxLq5oPEFKBAQ46KJHW2R"
                  },
                  "network": {
                    "type": "string",
                    "example": "devnet"
                  },
                  "private_key": {
                    "type": "string",
                    "example": "5GGZQpoiDPRJLwMonq4ovBBKbxvNq76L3zgMXyiQ5grbPzgF3k35dkHuWwt3GmwVGZBXywXteJcJ53Emsda92D5v"
                  },
                  "update_authority": {
                    "type": "string",
                    "example": "BFefyp7jNF5Xq2A4JDLLFFGpxLq5oPEFKBAQ46KJHW2R"
                  }
                }
              },
              "examples": {
                "Mint NFT": {
                  "value": {
                    "mint_address": "37CGrKHKhCj42xSMeJ5HH2TfidjPWHVR994L8msVRzoC",
                    "mint_authority": "BFefyp7jNF5Xq2A4JDLLFFGpxLq5oPEFKBAQ46KJHW2R",
                    "network": "devnet",
                    "private_key": "5GGZQpoiDPRJLwMonq4ovBBKbxvNq76L3zgMXyiQ5grbPzgF3k35dkHuWwt3GmwVGZBXywXteJcJ53Emsda92D5v",
                    "update_authority": "BFefyp7jNF5Xq2A4JDLLFFGpxLq5oPEFKBAQ46KJHW2R"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/nft/create_detach": {
      "post": {
        "tags": [
          "NFTs"
        ],
        "summary": "Create NFT Detached",
        "description": "Create NFT Detached",
        "operationId": "createNftDetached",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "attributes": {
                    "type": "string",
                    "example": "[ {    \"trait_type\": \"edification\",    \"value\": \"100\"  }]"
                  },
                  "description": {
                    "type": "string",
                    "example": "Girl with beautiful eyes"
                  },
                  "external_url": {
                    "type": "string",
                    "example": "https://shyft.to"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "max_supply": {
                    "type": "string",
                    "example": "1"
                  },
                  "name": {
                    "type": "string",
                    "example": "fish eyes"
                  },
                  "network": {
                    "type": "string",
                    "example": "devnet"
                  },
                  "royalty": {
                    "type": "string",
                    "example": "5"
                  },
                  "symbol": {
                    "type": "string",
                    "example": "FYE"
                  },
                  "wallet": {
                    "type": "string",
                    "example": "2fmz8SuNVyxEP6QwKQs6LNaT2ATszySPEJdhUDesxktc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/nft/mint_detach": {
      "post": {
        "tags": [
          "NFTs"
        ],
        "summary": "Mint NFT Detached",
        "description": "Mint NFT Detached",
        "operationId": "mintNftDetached",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "master_nft_address": {
                    "type": "string",
                    "example": "37CGrKHKhCj42xSMeJ5HH2TfidjPWHVR994L8msVRzoC"
                  },
                  "network": {
                    "type": "string",
                    "example": "mainnet-beta"
                  },
                  "receiver": {
                    "type": "string",
                    "example": "BFefyp7jNF5Xq2A4JDLLFFGpxLq5oPEFKBAQ46KJHW2R"
                  },
                  "transfer_authority": {
                    "type": "string",
                    "example": "BFefyp7jNF5Xq2A4JDLLFFGpxLq5oPEFKBAQ46KJHW2R"
                  },
                  "wallet": {
                    "type": "string",
                    "example": "2fmz8SuNVyxEP6QwKQs6LNaT2ATszySPEJdhUDesxktc"
                  }
                }
              },
              "examples": {
                "Mint NFT Detached": {
                  "value": {
                    "master_nft_address": "37CGrKHKhCj42xSMeJ5HH2TfidjPWHVR994L8msVRzoC",
                    "network": "mainnet-beta",
                    "receiver": "BFefyp7jNF5Xq2A4JDLLFFGpxLq5oPEFKBAQ46KJHW2R",
                    "transfer_authority": "BFefyp7jNF5Xq2A4JDLLFFGpxLq5oPEFKBAQ46KJHW2R",
                    "wallet": "2fmz8SuNVyxEP6QwKQs6LNaT2ATszySPEJdhUDesxktc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/nft/burn_detach": {
      "delete": {
        "tags": [
          "NFTs"
        ],
        "summary": "Burn NFT Detached",
        "description": "Burn NFT Detached",
        "operationId": "burnNftDetached",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "close": {
                    "type": "boolean",
                    "example": false
                  },
                  "network": {
                    "type": "string",
                    "example": "devnet"
                  },
                  "token_address": {
                    "type": "string",
                    "example": "HBE5dEcFHiJtU8vmTyx7MhB43nFRMJt8ddC8Lupc3Jph"
                  },
                  "wallet": {
                    "type": "string",
                    "example": "2fmz8SuNVyxEP6QwKQs6LNaT2ATszySPEJdhUDesxktc"
                  }
                }
              },
              "examples": {
                "Burn NFT Detached": {
                  "value": {
                    "close": false,
                    "network": "devnet",
                    "token_address": "HBE5dEcFHiJtU8vmTyx7MhB43nFRMJt8ddC8Lupc3Jph",
                    "wallet": "2fmz8SuNVyxEP6QwKQs6LNaT2ATszySPEJdhUDesxktc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/nft/update_detach": {
      "post": {
        "tags": [
          "NFTs"
        ],
        "summary": "Update NFT Detached",
        "description": "Update NFT Detached",
        "operationId": "updateNftDetached",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "attributes": {
                    "type": "string",
                    "example": "[{ \"trait_type\": \"edification\", \"value\": \"100\" }]"
                  },
                  "description": {
                    "type": "string",
                    "example": "Shyft makes web3 development easy"
                  },
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "name": {
                    "type": "string",
                    "example": "Shyft"
                  },
                  "network": {
                    "type": "string",
                    "example": "devnet"
                  },
                  "royalty": {
                    "type": "string",
                    "example": "100"
                  },
                  "symbol": {
                    "type": "string",
                    "example": "SH"
                  },
                  "token_address": {
                    "type": "string",
                    "example": "HJ32KZye152eCFQYrKDcoyyq77dVDpa8SXE6v8T1HkBP"
                  },
                  "wallet": {
                    "type": "string",
                    "example": "2fmz8SuNVyxEP6QwKQs6LNaT2ATszySPEJdhUDesxktc"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": ""
          }
        }
      }
    },
    "/nft/transfer_detach": {
      "post": {
        "tags": [
          "NFTs"
        ],
        "summary": "Transfet NFT Detached",
        "description": "Transfet NFT Detached",
        "operationId": "transfetNftDetached",
        "parameters": [
          {
            "name": "x-api-key",
            "in": "header",
            "schema": {
              "type": "string",
              "example": "-3iYNcRok7Gm4EMl"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from_address": {
                    "type": "string",
                    "example": "2fmz8SuNVyxEP6QwKQs6LNaT2ATszySPEJdhUDesxktc"
                  },
                  "network": {
                    "type": "string",
                    "example": "devnet"
                  },
                  "to_address": {
                    "type": "string",
                    "example": "BFefyp7jNF5Xq2A4JDLLFFGpxLq5oPEFKBAQ46KJHW2R"
                  },
                  "token_address": {
                    "type": "string",
                    "example": "HJ32KZye152eCFQYrKDcoyyq77dVDpa8SXE6v8T1HkBP"
                  },
                  "transfer_authority": {
[...]
